<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Java Development Intro</title>
    <style>
        body {
            color: gray;
            font-family: arial;
            background: beige;
        }
    </style>
</head>
<body>
    <h1>Lesson 1</h1>
    <h2>Language falirization</h2>
    <div>
    <p>Hello! We are going to start java learning in this lesson</p>
    <p>
        <a href="https;//ru.wikipedia.org/wiki/java">
            <img src = "chrome.png" alt = "Java" width="100">
        </a>
    </p>
    </div>
    <div>
        <p>
            Java is strictly type safe programming language.<br>
            It means that each variable has a type,<br>
            which is safe and constant.
        </p>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Foundation year</th>
                    <th>Number of Employess</th>
                    <th>Average Anual Salary, $</th>
                </tr>
                <tbody>
                    <tr>
                        <td>Google</td>
                        <td>1998</td>
                        <td>139 995</td>
                        <td>103 438</td>
                    </tr>
                    <tr>
                        <td>Oracle</td>
                        <td>1977</td>
                        <td>132 000</td>
                        <td>99 391</td>
                    </tr>
                    <tr>
                        <td>Amazon</td>
                        <td>1994</td>
                        <td>1 608 000</td>
                        <td>92 613</td>
                    </tr>
                </tbody>
            </thead>
        </table>

    </div>
</body>
</html>